---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ entitlements_target_secret_name }}"
  namespace: "{{ namespace }}"
data:
  "{{ entitlement_keypemname }}": "{{ entitlement_key }}"
  "{{ entitlement_certpemname }}": "{{ entitlement_cert }}"
